.sura {
  font-size: 24px;
  text-align: center;
  width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Amiri Quran";
  cursor: pointer;

  span {
    padding: 0 5px 0 5px;

    &:hover {
      color: rgba(38, 153, 7, 1);
      background-color: aliceblue;
    }
  }
}
