

.card_user {
  display: flex;
  margin: 15px;
  padding: 20px;
  border: 1px solid rgb(33, 138, 85);
  border-radius: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s;
}

.card_user:hover {
  background-color: #269907;
  color: #fbfbfb;
}

.btn_userClick {
  display: flex;
  align-items: center;
}

.user_btnClick,
.user_btnDelClick {
  display: flex;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 50px;
  width: 40px;
}

.user_btnDelClick {
  background-color: gray;
}

.button_container {
  width: 400px;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  padding: 5px 10px;
  border: 1px solid green;
  border-radius: 4px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination a:focus {
  background: green;
  color: white;
}
.activePage {
  background-color: green;
  color: white;
}
