.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 51px;
  height: 100vh;
}

.card {
  padding: 15px;
  padding-left: 30px;
  width: 260px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.card div {
  word-wrap: break-word;
}

.card:hover {
  background-color: rgba(38, 153, 7, 1);
  color: white;
}

.input_group {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.input_group input {
  width: 300px;
  height: 50px;
  margin-top: 22px;
  margin-right: 20px;
}

.delete_group {
  cursor: pointer;
  margin-left: 180px;
}

.btn_check_mark,
.btn_redaction_mark {
  cursor: pointer;
  margin-bottom: 10px;
}

.centerContent {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.rodTable {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodTable {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.btnAdd {
  border-radius: 50px;
  background-color: rgba(38, 153, 7, 1);
}

.table thead {
  background-color: #f2f2f2;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e8f0fe;
  cursor: pointer;
}

.table th {
  background-color: green;
  color: white;
  text-align: center;
  padding: 12px;
}
