@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Rubik", "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
}

.content {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  background-color: #fbfbfb;
}

