.container {
  background-color: #fbfbfb;
  margin: auto;
}

.body_evering, .body_morning {
  display: flex;
}

.body_evering h2,
.body_morning h2 {
  text-align: center;
  font-size: 70px;
  width: 1076px;
}
.strelka {
  cursor: pointer;
  padding: 10px;
  border: solid 2px black;

  position: absolute;
  left: 50%;
  bottom: 55px;

  background-color: rgba(0, 0, 0, 0.382);
  margin-left: -30px;
}
.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  margin-right: 50px;

  background-color: #ffffff80;
  border-radius: 25%;
  border: solid 1px black;
}
.scrollButton p {
  margin-right: 16px;
  font-size: 16px;
  text-decoration: underline;
}
.scrollButton img {
  width: 40px;
}

.modal {
  position: fixed;
  bottom: 150px;
  left: 230px;
  /* background-color: #ffffff; */
  /* background-color: #ffffff80; */
  padding: 7px;
  animation: slide-up 0.9s ease-in-out;
  border: solid 1px black;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  width: 115px;
  text-align: center;
}
 
.counter {
  position: fixed;
  bottom: 190px;
  left: 250px;
  color: black;
  cursor: pointer;
}
.counter p {
  background-color: #ffffff60;
  border: solid 1px black;
  border-radius: 5px;
  padding: 3px;
}
.counter p b {
  font-size: 22px;
}
.counter button {
  background-color: #ffffff60;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.counter_plus {
  padding: 3px 60px;
  border: solid 1px black;
  border-radius: 5px;
}
.counter_reset {
  width: 133px;
  height: 30px;
  align-items: center;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
}

.card_azkar {
  background-color: #ffffff;
  width: 650px;
  margin: auto;
  margin-top: 50px;
}

.footer_text {
  display: flex;
  padding: 20px 50px 10px;
  justify-content: space-between;
}
.footer_text p {
  margin: 5px;
}
.footer_text h4,
.footer_text h5 {
  font-style: italic;
  text-decoration: underline;
}

.header_text {
  font-size: 30px;
  padding: 20px 50px 10px;
  border-bottom: 1px solid rgb(160, 158, 158);
}

.arab_text {
  font-size: 28px;
  padding: 20px 50px;
  border-bottom: 1px solid rgb(160, 158, 158);
  direction: rtl;
}

.translate_text {
  font-size: 18px;
  padding: 20px 50px 10px;
  border-bottom: 1px solid rgb(160, 158, 158);
}

.transcript_text {
  font-size: 18px;
  font-style: italic;
  padding: 20px 50px;
  border-bottom: 1px solid rgb(160, 158, 158);
}

.discription {
  display: flex;
  font-size: 17px;
  padding: 20px 50px;
  /* border-bottom: 1px solid rgb(160, 158, 158); */
}
.description_img {
  /* margin: 10px; */
  width: 80px;
}

.main {
  display: flex;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  background-color: #fbfbfb;
}

.content_link {
  padding: 100px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  text-align: center;
}
.content_link:hover {
  background-color: rgba(38, 153, 7, 1);
  color: white;
}